
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,1000&family=Roboto:ital,wght@0,400;1,300&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito+Sans:opsz,wght@6..12,400;6..12,1000&family=Roboto:ital,wght@0,400;1,300&family=VT323&display=swap');
@font-face {
    font-family: 'Digital-7 Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Digital-7 Regular'), url('./font/digital-7.regular.woff') format('woff');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/okinawa.png);
    background-repeat: no-repeat;
    background-size:cover;

}

/* section 1 - Logo and Display */ 
.calculator-frame{
    background-color: #c7c8ca;
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 2px 2px;
    box-shadow: 0px 1px 1px 1px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10%;
    height: 620px;
    width: 400px;


}
.calculator-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2%;
    box-shadow: 1px 1px 1px 1px currentColor;
    height: 200px;
    width: 385px;
    
}
.logo{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 1000;
    font-size: 15;
    align-self: flex-start;
    align-items: flex-end;
    margin: 0% 5%;
    margin-bottom: 0px;
}
.calculator-display-border{
    display: flex;
    background-color: #474658;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    height: 170px;
    width: 370px;
    
}
.display{
    display: flex;
    background-color: #4f5055;
    box-shadow: inset 1px 1px 1px 1px currentColor;
    flex-direction: column;
    margin: 1%;
    height: 140px;
    width: 330px;
}
.solar-panel-container{
    display: flex;
    justify-content: center;
    
}
.solar-panel{
    display: flex;
    background-color: #544349;
    border: 1px solid black;
    border-radius: 2px;
    height: 50px;
    width: 55px;
    margin-top: 1%;
}
.screen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
    background-color: #acab99;
    font-family: 'Digital-7 Regular';
    font-weight: 700;
    font-size: 40px;
    margin-top: 7%;
    height: 50px;
    width: 250px;
    align-self: center;
    border-radius:10px;
}
.body-text{
    display: flex;
    justify-content: baseline;
    font-size: small;
    gap: 40px;
    
}
.text1{
    display: flex;
    gap:10px;

}
.text-head{
    font-family: 'Abril Fatface';
}
.text-model{
    font-family: 'Abril Fatface';
    font-weight: 300;
}
.text2{
    font-weight:550;

}

.emoji{
    font-size: 13px;
}

/* section 2 - buttons */
.button-frame{
    background-color:#b4b8b7;
    background-image: linear-gradient(transparent 50%, #ffffff80 50%);
    background-size: 3px 3px;
    box-shadow: inset 1px 1px 1px 1px currentColor;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:360px;
    width: 385px;
    margin-bottom: 10px;
}
.buttons-0-3,.buttons-4-7,.buttons-8-11,.buttons-12-15,.buttons-16-19,.buttons-20-23{
    display: flex;
    gap:30px;

    
}
.buttons-4-7 button{
    color:#57acec;
}
#on{
    background-color:#861a13;
}
button{
    outline: 1px solid #ffffff80;
    background-color: #4c4c4e;
    color: white;
    height: 30px;
    width: 45px;
    font-weight: 800;
    opacity: 0.9;
    transition:0.01s;
}
button:hover{
    opacity: 1;
}
.operator button{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.white-line{
    border: 0.01em solid white;
    width: 380px;
}